

<main>
  <div id="container" class="wrapper">
    <!-- プロフィール -->
    <p class="Text"><span class="Text-Span JS_ScrollAnimationItem">Misa Matsuyama</span></p>
    <p class="Text"><span class="Text-Span JS_ScrollAnimationItem">profile</span></p>
    <div id="profile">
      <p>
        松山実紗と申します。<br />
        大阪教育大学教養学科芸術専攻美術コース卒業。<br />
        デザイン・イラストが得意です。<br /> デザインはIllustrator・Photoshop・inDesign、<br /> イラストは基本procreateを使い制作しています。<br />
        プログラミング言語は主にRuby、 フレームワークは、Ruby on Railsを使用しています。
      </p>
    </div>
    <!-- ポートフォリオ -->
    <p class="Text"><span class="Text-Span JS_ScrollAnimationItem">portfolio</span></p>
    <div id="portfolio">
      <article>
        <!-- ホバーの変化をつける -->
        <a href="http://drawours.com">
          <section class="hover">
            <div class="hover-img">
              <%= image_tag('drawours.jpeg') %>
            </div>
            <div class="hover-text">
              <p class="text1">サイトを見る</p>
            </div>
          </section>
        </a>

        <p>
          イラスト・絵画・立体・写真などの、制作をしている方用のSNSです。制作していない方も閲覧用として使用可能です。
          投稿内容にキャプション(作品タイトル・作品技法・支持体)を書く欄が設けられているので、展示会にきた時のように、相手の作品を鑑賞し、制作者も自分のイラストの魅力を伝えられる場にしたいと思っています。また、手軽に会話できるチャット機能を設けることで、制作者間での情報交換を行える場にしています。<br />

          <strong>【テストユーザー】Email : test@test / Password : testuser</strong>
        </p>
        <div class="center">
          <a href="https://github.com/misamisa-create/DRAWours.git">
            <i class="fab fa-github icon-br"></i>
          </a>
        </div>

      </article>
      <article>
        <div class="image">
          <%= image_tag('nagano_cake.jpeg') %>
        </div>

        <p>
          DMM受講期間に3人チームで架空のECサイト「Nagano Cake」を制作しました。
          ログイン機能/機能面だけでなくレイアウト面でも力を入れ、実際にいきたいと思えるような魅力的なサイトを目指しました。
          私は主にカート機能/ジャンル機能/レイアウト面を担当し、1日3回のスクラムで情報共有しあいお互いをサポートして進めていきました。<br />
          ※管理者/顧客機能一覧はgithubのREADMEに記載しています。
        </p>
        <div class="center">
          <a href="https://github.com/misamisa-create/nagano_cake.git">
            <i class="fab fa-github icon-br"></i>
          </a>
        </div>
      </article>
    </div>
    <!-- etc -->
    <p class="Text"><span class="Text-Span JS_ScrollAnimationItem">etc.........</span></p>
    <div>
      <a href="https://drive.google.com/file/d/1B-k7mIWAR3NvikYW3NbjNMbZNyMkiFEp/view?usp=sharing"
        class="btn btn-orange"><span>イラストのポートフォリオを見る(pdf)</span></a>
    </div>
    <div id="etc">
      <article>
        <div class="image">
          <%= image_tag('shinen.jpeg') %>
        </div>
        <p>何度かギャラリーでイラストの展示経験があります。2人展を2回経験しており、展示のコンセプトやギャラリーとの打ち合わせも全て自分たちで行い、さまざまな学びがありました。<br />
          【過去の展示経験】<br />
          グループ展「色イロこども展」<br />
          公募展「A4の世界 FLOWER」SUNABAギャラリー<br />
          二人展「生」<br />
          二人展「ここは深淵か、それとも」<br />
          大阪教育大学卒業制作展2019<br />
          Action!(SHAKE ART!×art Dive2019)<br />
          BORDER!2019<br />
          公募展「Budapest」<br />
          Arts and Crafts Market<br />
          Patisserie&cafe Noah’s arkでの委託販売<br />etc...
        </p>
      </article>
      <article>
        <div class="image">
          <%= image_tag('6.jpeg') %>
        </div>
        <p>ペン画やデジタル画が好きです。イラストは自分の感情表現の一種であり、自分を形成する重要な存在です。<br />
          Twitter/Instagramを使って自分の絵を投稿しています。
          SUZURIを使ったグッズの物販/似顔絵制作も行なっています。
        </p>
        <div class="center">
          <a href="https://suzuri.jp/3i3a___m">
            <i class="fas fa-tags icon-br"></i>
          </a>
        </div>
      </article>
      <article>
        <div class="image">
          <%= image_tag('concert2.jpeg') %>
        </div>
        <p>
          大学でデザインゼミに所属しており、Illustrator/Photoshop/Indesignを用いたデザインを制作できます。ここで学んだことを現在のプログラミングのレイアウト面でも活かしていきたいと感じています。デザインはインプットが重要なので、デザイン展に行ったり、日々街中の広告や雑誌に注目する様に癖付けています。
        </p>
      </article>
    </div>
  </div>
</main>
