<!DOCTYPE html>
<html>
  <head>
    <title>Introduction</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js"
    integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc"
    crossorigin="anonymous"></script>
  </head>

  <body>
    <!-- jquery -->
    <script src="jquery.min.js"></script>
    <script src="application.js"></script>
    
    <header id="header">
      <!-- 画像と文字 -->
      <nav id="global-nav">
        <%= image_tag('11.jpeg') %>
        <h1 class="global-list name-title">Misa Matsuyama Portfolio</h1>
      </nav>
      <!-- ↑画像と文字 -->
    </header>
    <%= yield %>
    <footer id="footer">
      <p>©︎misamisa portfolio</p>
      <nav id="buttonwrap">
        <ul id="list">
          <li>
            <a href="https://www.instagram.com/3i3a___m/">
              <i class="fab fa-instagram-square icons"></i>
            </a>
          </li>
          <li>
            <a href="https://twitter.com/3i3a___m">
              <i class="fab fa-twitter-square icons"></i>
            </a>
          </li>
        </ul>
      </nav>
    
    </footer>
  </body>
</html>

